*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    background-color: lightgrey;
    border:1px solid blue;
    padding:1rem;
    border-radius: 10px;
    text-align: center;
}
.month{
    background-color: blue;
    color:white;
    font-weight: bold;
    padding:10px;
    font-size:1.5rem;
    margin-bottom: 20px;
}
.day-name{
    color:red;
    font-size:2rem;
    font-weight: bold;
}
.date{
    font-size:5rem;
    font-weight: bold;
}
.year{
    font: 1.3rem;
    font-weight: bold;
}